:root {
    --my-header-color: rgb(106, 106, 255);
}

body {
    font-family: swansea, Helvetica, sans-serif;
    background-color: lightblue;
    font-size: 16px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

@media screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media screen and (min-width: 900px) {
    body {
        font-size: 20px;
    }
}

header {
    border: 1px solid var(--my-header-color, lightblue);
    padding-bottom: 0.75rem;
    background-color: var(--my-header-color, lightblue);
    position: sticky;
    top: 0;
}
footer {
    border: 1px solid black;
    padding-top: 0.75rem;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
}

nav.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-items: center;
    & a {
        font-size: 1.5em;
        border: 1px solid rgb(147, 85, 27);
        border-radius: 25px;
        padding: 0.5em;
        color: white;
        background-color: chocolate;
    };

    & a:hover {
        /* box-shadow: 10% 10% 5% slategray; */
        background-color: green;
        border-color: green;
    }
}
nav.site-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-items: center; 

    & a {
        font-size: 1.5em;
    };
}

form[id="feedback-form"] {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    align-items: center; 
    background-color: lightslategray;
}

@font-face {
  font-family: swansea;
  src: url(../assets/swansea-font/Swansea-q3pd.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: swansea;
  src: url(../assets/swansea-font/SwanseaBold-D0ox.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: swansea;
  src: url(../assets/swansea-font/SwanseaItalic-AwqD.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: swansea;
  src: url(../assets/swansea-font/SwanseaBoldItalic-p3Dv.ttf);
  font-weight: bold;
  font-style: italic;
}

